body{
    margin:0;
    padding-top:100px;
    text-align: center;
    background-color: khaki;
}
h1{
    color:rgb(6, 102, 247);
    font-size:  40px;
    font-family: 'Gill Sans';
    font-weight: 300;
}
.perfil{
    border-radius: 70%;
}
#Welcome{
    position:absolute;
    bottom:0 ;
    /*background:linear-gradient(#0000ff 50%,#00ffff 100%);*/
    display: table;
    width:100% ;
    height: 100%;
}
h2{
    color:rgb(247, 62, 6);
    font-size:  30px;
    font-family: monospace;
}
#bio{
    font-family: "Times New Roman";
    padding: 50px;
}
.line{
    height: 6px;
    background-color: brown;
    width: 100px;
    margin: 8px auto;
}
.pantallai{
    display: table-cell;
    vertical-align: middle;
}
.menu{
    list-style: none;
    position: absolut;
    top:10px;
    right:50px;
}
.links{
    float: left;
    padding-top:9px;
    padding-left:9px;
    padding-right:9px;
    padding-bottom:9px;
    font-family:fantasy;
    font-size:20px;
}